.App{
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
}
.navbar-nav {
  justify-content: space-around;
}

.main_logo {
  width: 80px;
  cursor: pointer;
}

.main_logo img {
  width: 100%;
}
.main_visual .carousel-caption {
  color: #444;
  text-align: left;
}
.main_visual .carousel-item {
  max-width: 1920px;
}
.main_visual .carousel-caption h3{
  font-size: 40px;
  margin-bottom: 100px;
}
.main_visual .carousel-caption p{
  font-size: 14px;
  margin-bottom: 30px;
}


.best .carousel-item {
  width: 20%;
  background-color: #444;
  display: block;
}
.best_title {
  margin: 30px 0;
}
.best_boxes {
  width: 1360px;
  display: flex;
  flex-wrap: wrap;
}

.best_box {
  width: 20%;
}
.best_product_link {
  display: block;
  text-decoration: none;
  color: #444;
  width: 20%;
}

.footer {
  width: 100%;
  margin: 100px 0 50px;
}
.footer>div{
padding: 20px 50px;
box-sizing: border-box;
}
.footer li{
  list-style:none;
}
.footer .footer_top{
  width: 100%; height: 60px;
  background-color: #67625d;
}
.footer .footer_top .sns_link{
  float: right;
  display: flex;
}
.footer .footer_top .sns_link>li {
  font-size: 18px;
  margin: 0 20px;
  color: #fff;
}

.footer_mid {
  width: 100%; height: 150px;
  overflow: hidden;
  color: #444;
}
.footer_mid .contact{
  font-weight: bold;
  font-size: 16px;
}
.footer_mid .mid_left {
 float: left;
 display: flex;
}
.footer_mid .mid_right {
 float: right;
 display: flex;
}
.footer_mid .mid_right li{
 margin: 0 30px;
 text-align: center;
}
.footer_mid .mid_right li svg{
 font-size: 30px;
}

.footer_bot {
  width: 100%; height: 220px;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}
.footer_bot {
  width: 100%; height: 220px;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}
.footer_bot .bot_left {
  float: left;
}
.footer_bot .bot_center {
  float: left;
  overflow: hidden;
}
.footer_bot .bot_center .info_list01 li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}
.footer_bot .bot_center .info_list01 li:first-child {
  padding-left: 0;
}
.footer_bot .bot_center .info_list02 li {
  color: #aaa;
  margin-bottom: 10px;
}

.footer_bot .bot_right {
  float: right;
  width: 300px;
}
.footer_bot .bot_right img{
  width: 100%;
}